@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable< BillingViewModel>

<table class="table" id="myHistoryTable">
    <thead>
        <tr>
           <th>@Html.DisplayNameFor(model=> model.BillId)</th>
           <th>@Html.DisplayNameFor(model=> model.Name)</th>
           <th> @Html.DisplayNameFor(model=> model.Total)</th>
           <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem=> item.BillId)</td>
                <td>@Html.DisplayFor(modelItem=> item.Name)</td>
                <td>@Html.DisplayFor(modelIem=> item.Total)</td>
                <td>
                    <a asp-area="Admin" asp-action="ViewDetails" asp-controller="Billing" asp-route-id="@item.BillId">View Details </a> |
                 <a asp-area="Admin" asp-action="" asp-controller="" asp-route-id="@item.BillId">Delete</a>
                   
                </td>
            </tr>
            
        }
    </tbody>
</table>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
<script>
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#myHistoryTable').DataTable({
            "columnDefs": [
                {
                    targets: [1,2],
                    orderable: false

                }
            ]
        });
    });
</script>
